<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>GPA.IO</title>
    <meta charset="utf-8">
    <meta name="description" content="GPA.IO is a learning management system that helps college students manage and complete their coursework more efficiently by offering a collection of tools and content services including grade and GPA predictor, homework and test reminder, course videos, study notes, discussion boards, etc.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="stylesheet" href="https://use.typekit.net/hka8voo.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-LRlmVvLKVApDVGuspQFnRQJjkv0P7/YFrw84YYQtmYG4nK8c+M+NlmYDCv0rKWpG"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.5.2/dist/flatpickr.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css?v=20190112">
</head>

<body>
    <div id="main"></div>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.5.2/dist/flatpickr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leancloud-storage@3.11.1/dist/av-live-query-min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.2/dist/vue-router.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuex@3.1.0/dist/vuex.min.js"></script>
    <script src="/javascripts/main.js?v=20190112"></script>
</body>

</html>