* {
    -webkit-appearance: none;
    box-sizing: border-box;
    border-radius: 0;
    font-family: sans-serif;
    transition: all 0.2s ease;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
    color: currentColor;
}
section {
    padding: 0 64px;
}
input {
    margin-bottom: 12px;
    border-radius: 8px;
    height: 36px;
    padding: 8px;
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 12pt;
}
button {
    outline: none;
    margin: auto;
    margin-bottom: 12px;
    border-radius: 8px;
    height: 36px;
    padding: 8px;
    width: 100%;
    border: none;
    background-color:rgba(98, 160, 143, 1);
    color: rgba(255, 255, 255, 0.8);
    font-size: 12pt;
}
#wrapper {
    min-height: 100vh;
    background: linear-gradient(-135deg, #49a187, #9edd99);
}
#logo {
    margin: 0 auto;
    padding: 128px 0 48px 0;
    text-align: center;
}
#logo img {
    width: 128px;
}
#first-name {
    display: inline-block;
    width: calc((100% - 12px)/2);
}
#last-name {
    display: inline-block;
    margin-left: 6px;
    width: calc((100% - 12px) / 2);
}
button.minor {
    background-color: rgba(255, 255, 255, 0);
}
#reset {
    text-align: right;
}
#toggle {
    position: absolute;
    right: 0;
    bottom: 48px;
    left: 0;
}