* {
    -webkit-appearance: none;
    box-sizing: border-box;
    border-radius: 0;
    font-family: sans-serif;
    transition: all 0.2s ease;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
    color: currentColor;
}
button {
    outline: none;
    border: none;
    background: none;
}
#wrapper {
    min-height: 100vh;
    background: linear-gradient(-135deg, #49a187, #9edd99);
}
#logo {
    margin: 0 auto;
    padding: 128px 0 48px 0;
    text-align: center;
}
#logo img {
    width: 128px;
}
#tree {
    margin: 0 auto;
    text-align: center;
}
#tree img {
    width: 128px;
}
#sign-in {
    padding: 48px 0 0 0;
    text-align: center;
}
#sign-in button {
    margin: 0 auto;
    width: 144px;
    height: 56px;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 12pt;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 32px;
}
#sign-in button i {
    margin-left: 12px;
}
#create-account {
    padding: 48px 0 0 0;
    text-align: center;
}
#create-account button {
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.8);
    font-size: 12pt;
}