* {
    -webkit-appearance: none;
    box-sizing: border-box;
    border-radius: 0;
    font-family: sans-serif;
    transition: all 0.2s ease;
}
body {
    margin: 0;
    color: #333;
}
a {
    text-decoration: none;
    color: currentColor;
}
#current-app-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 48px;
    left: 0;
    background-color: #eee;
    overflow-y: scroll;
}
nav {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 49px;
    background-color: #fafafa;
    border-top: 1px solid rgba(220, 220, 220, 1);
}
nav ul {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
}
nav li img {
    position: absolute;
    margin: 0 auto;
    top: 4px;
    right: 0;
    left: 0;
    width: 24px;
    height: 24px;
}
nav li span {
    position: absolute;
    margin: 0 auto;
    top: 28px;
    right: 0;
    bottom: 4px;
    left: 0;
    font-size: 9pt;
    line-height: 16px;
    text-align: center;
    color: grey;
}
nav li.active span {
    color: #49a187;
}
.titlebar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 48px;
    background-color: #49a187;
    z-index: 1;
}
.titlebar__title {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    line-height: 48px;
    color: white;
}
.titlebar__left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 48px;
    text-align: center;
    line-height: 48px;
    font-size: 16pt;
    color: white;
}
.titlebar__right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 48px;
    text-align: center;
    line-height: 48px;
    font-size: 16pt;
    color: white;
}
.content {
    position: absolute;
    top: 48px;
    right: 0;
    left: 0;
    background-color: #fff;
}
hr {
    margin: 0;
    border: none;
    height: 1px;
    background-color: #eee;
}
#home__stat__logo {
    margin: 0 auto;
    padding: 32px 0;
    text-align: center;
}
#home__stat__logo img {
    width: 128px;
}
#home__stat {
    height: 360px;
    overflow: hidden;
    background: linear-gradient(-135deg, #49a187, #9edd99);
}
#home__stat__circle {
    position: relative;
    height: 312px;
    width: 312px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
#home__stat__circle__ring {
    position: relative;
    top: 6px;
    left: 6px;
    width: 300px;
    height: 300px;
    overflow: visible;
}
#home__stat__circle__ring__total {
    fill: #fff;
    stroke: rgba(179, 220, 188, 1);
    stroke-width: 10px;
    stroke-dasharray: 706.86 235.62; /* 942.478 */
    stroke-dashoffset: 589.049;
    stroke-linecap: round;
}
#home__stat__circle__ring__my {
    fill: none;
    stroke: #49a187;
    stroke-width: 10px;
    stroke-dashoffset: 589.049;
    stroke-linecap: round;
}
#home__stat__circle__tree {
    position: absolute;
    width: 160px;
    margin: 30px auto 0 auto;
    left: 0;
    right: 0;
}
#home__card {
    padding: 8px 16px;
    background-color: #fff;
}
#home__card__score {
    text-align: center;
    color: #49a187;
}
#home__card__score__my {
    font-size: 24pt;
}
#home__card__score__total {
    font-size: 16pt;
}
#home__card__info {
    font-size: 14pt;
}
.home__card__item {
    position: relative;
    border: 1px solid #eee;
    margin: 12px 0;
    height: 64px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.home__card__item__icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 48px;
    text-align: center;
    line-height: 64px;
}
.home__card__item__info {
    position: absolute;
    top: 0;
    right: 64px;
    bottom: 0;
    left: 48px;
}
.home__card__item__info__category {
    color: #49a187;
    margin: 12px 0 0 0;
}
.home__card__item__info__amount {
    font-size: 9pt;
    margin: 4px 0 0 0;
    color: #666;
}
.home__card__item__score {
    position: absolute;
    top: 16px;
    right: 8px;
    bottom: 0;
    width: 64px;
    color: #49a187;
}
.home__card__item__score__my {
    font-size: 18pt;
}
#home__utility__graph {
    position: relative;
    height: 240px;
}
.home__utility__description {
    display: table;
    width: 100%;
}
.home__utility__description__section {
    float: left;
    width: 50%;
    padding: 16px;
}
.home__utility__description__section:nth-of-type(2) {
    text-align: right;
}
.home__utility__description__text {
    font-size: 9pt;
    text-transform: uppercase;
}
.home__utility__description__number {
    font-size: 16pt;
    font-weight: bold;
}
.home__utility__bar {
    position: relative;
    margin: 0 24px;
    height: 84px;
}
.home__utility__bar__tags__up {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 24px;
    font-size: 8pt;
    line-height: 24px;
}
.home__utility__bar__tags__up__current {
    position: absolute;
    width: 48px;
    text-align: center;
}
.home__utility__bar__allocated {
    position: absolute;
    top: 24px;
    bottom: 24px;
    left: 0;
    border-right: 1px solid #333;
}
.home__utility__bar__allocated__bar {
    position: absolute;
    top: 0;
    right: 4px;
    bottom: 12px;
    left: 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    overflow: hidden;
}
.home__utility__bar__allocated__bar__content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-135deg, #49a187, #9edd99);
}
.home__utility__bar__extra {
    position: absolute;
    top: 24px;
    right: 0;
    bottom: 24px;
}
.home__utility__bar__extra__bar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 12px;
    left: 4px;
    border: 1px solid #ccc;
    border-radius: 2px;
    overflow: hidden;
}
.home__utility__bar__extra__bar__content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ff4d4f;
}
.home__utility__bar__tags__bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 24px;
    font-size: 9pt;
    line-height: 24px;
}
.home__utility__bar__tags__bottom__arrow {
    position: absolute;
    top: -16px;
    font-size: 18pt;
    width: 48px;
    text-align: center;
}
.home__utility__bar__tags__bottom__zero {
    position: absolute;
    left: 0;
    color: #999;
}
.home__utility__bar__tags__bottom__current {
    position: absolute;
    width: 48px;
    text-align: center;
}
.home__utility__bar__tags__bottom__limit {
    position: absolute;
    width: 48px;
    text-align: center;
}
.home__utility__info {
    display: table;
    width: 100%;
    padding-bottom: 24px;
}
.home__utility__info div {
    float: left;
    width: 50%;
    padding: 0 16px;
    font-size: 9pt;
    text-align: center;
}
.home__utility__info__score {
    font-size: 16pt;
    margin: 0;
    color: #49a187;
}
#social__searchbar {
    background-color: #fff;
    height: 48px;
    padding: 8px;
}
#social__searchbar__contents {
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
}
#social__searchbar__main {
    display: inline-block;
    background-color: #fff;
    height: 32px;
    width: 100%;
    border-radius: 16px;
    border: 1px solid #eee;
}
#social__searchbar__main.short {
    width: calc(100% - 64px);
}
#social__searchbar__main i {
    line-height: 32px;
    width: 32px;
    text-align: center;
    color: #49a187;
}
#social__searchbar__main input {
    width: calc(100% - 32px);
    height: 32px;
    border: none;
    outline: none;
    background: none;
    font-size: 12pt;
}
#social__searchbar__search {
    display: inline-block;
    margin: 0 0 0 4px;
    line-height: 32px;
    color: #49a187;
}
.social__result {
    position: relative;
    height: 84px;
}
.social__result__image {
    position: absolute;
    top: 8px;
    left: 16px;
    height: 64px;
    width: 64px;
}
.social__result__image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.social__result__info {
    position: absolute;
    top: 0px;
    left: 96px;
    right: 16px;
}
.social__result__name {
    margin: 8px 0 0 0;
    font-size: 14pt;
    color: black;
    font-weight: bold;
}
.social__result__tier {
    margin: 8px 0 0 0;
    font-size: 10pt;
    color: gray;
}
.tips__subtitle {
    font-size: 9pt;
    color: #49a187;
    padding: 0 16px;
}
#tips__featured-tips {
    width: calc(100% - 32px);
    margin: 0 auto;
    overflow-x: scroll;
    white-space: nowrap;
}
#tips__featured-tips::-webkit-scrollbar {
    display: none;
}
.tips__featured-tip {
    margin: 0 0 0 16px;
    width: 256px;
    display: inline-block;
}
.tips__featured-tip:nth-of-type(1) {
    margin: 0;
}
.tips__featured-tip__card {
    width: 256px;
    height: 256px;
    background-size: cover;
    border-radius: 4px;
}
.tips__featured-tip p {
    font-weight: bold;
    width: 256px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#tips__utilities {
    display: table;
    width: calc(100% - 32px);
    margin: 0 auto;
}
.tips__utility {
    float: left;
    width: calc((100% - 32px) / 3);
    margin: 0 0 0 16px;
}
.tips__utility:nth-of-type(1) {
    margin: 0;
}
.tips__utility__card {
    height: 96px;
    border: 1px solid gray;
    border-radius: 4px;
    text-align: center;
    padding: 24px 0;
}
.tips__utility__card i {
    font-size: 24pt;
    color: gray;
    border: 1px solid gray;
    height: 48px;
    width: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}
.tips__utility span {
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 24px;
}
.utility__tip {
    position: relative;
    height: 160px;
}
.utility__tip div {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 128px;
    height: 128px;
    background-size: cover;
    border-radius: 4px;
}
.utility__tip h1 {
    top: 16px;
    right: 16px;
    left: 160px;
    position: absolute;
    font-size: 14pt;
}
#tip__image {
    width: 100%;
    height: 256px;
    background-size: cover;
}
#tip__content {
    padding: 16px;
}
#tip__content h1 {
    font-size: 14pt;
}
.profile__header {
    position: relative;
    height: 128px;
}
.profile__header__image {
    position: absolute;
    top: 16px;
    left: 16px;
    height: 96px;
    width: 96px;
}
.profile__header__image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.profile__header__info {
    position: absolute;
    top: 16px;
    left: 128px;
    right: 16px;
}
.profile__header__name {
    margin: 8px 0 0 0;
    font-size: 14pt;
    color: black;
    font-weight: bold;
}
.profile__header__tier {
    margin: 8px 0 0 0;
    font-size: 10pt;
    color: gray;
}
.profile__header__social {
    margin: 12px 0 0 0;
}
.profile__header__social span {
    border: 1px solid #333;
    border-radius: 4px;
    padding: 4px;
    font-size: 10pt;
}
.profile__header__social span:nth-of-type(1) {
    margin: 0 4px 0 0;
}
.profile__achievement {
    position: relative;
    height: 108px;
}
.profile__achievement__image {
    position: absolute;
    top: 24px;
    left: 16px;
    height: 64px;
    width: 64px;
}
.profile__achievement__image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.profile__achievement__info {
    position: absolute;
    top: 16px;
    right: 16px;
    left: 96px;
    font-size: 10pt;
    color: gray;
}
.profile__achievement__info__text {
    margin: 0 0 8px 0;
}
.settings__subtitle {
    margin: 0;
    padding: 24px 12px 8px 12px;
    background-color: #eee;
    text-transform: uppercase;
    color: gray;
}
.settings__item {
    padding: 12px;
    position: relative;
}
.settings__item input {
    float: right;
    color: #333;
    text-align: right;
    border: none;
    font-size: 12pt;
    outline: none;
    width: 50%;
}
.settings__item__right {
    float: right;
    color: #49a187;
    font-size: 16pt;
}
.settings__item__toggle {
    position: absolute;
    top: 8px;
    right: 16px;
    bottom: 8px;
    width: 48px;
    background: linear-gradient(-135deg, #fff, #fff);
    border-radius: 16px;
    border: 1px solid #eee;
}
.settings__item__toggle__circle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 22px;
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #eee;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.settings__item__toggle--on {
    background: linear-gradient(-135deg, #49a187, #9edd99);
}
.settings__item__toggle--on .settings__item__toggle__circle {
    left: 22px;
    right: 0;
}