::selection {
    background-color: #333;
    color: #fff;
}
* {
    -webkit-appearance: none;
    box-sizing: border-box;
    border-radius: 0;
    transition: all 0.2s ease;
}
body {
    margin: 0;
    font-family: ministry, sans-serif;
    font-weight: 300;
    font-size: 9pt;
}
a {
    text-decoration: none;
    color: currentColor;
}
h1 {
    font-weight: 500;
    font-size: 18pt;
    color: #333;
}
h2 {
    font-weight: 400;
    font-size: 12pt;
    color: #333;
}
b {
    text-transform: uppercase;
    font-weight: 400;
}
.cards {
    display: table;
    margin: 8px auto 0 auto;
    width: 100%;
}
.cards dt {
    float: left;
    margin: 0 0 8px 0;
    width: 100%;
    padding: 0 12px;
    font-size: 12pt;
    color: #ccc;
}
.cards dd {
    margin: 0;
}
.card {
    position: relative;
    float: left;
    margin: 0 0 8px 0;
    width: 100%;
    background-color: #fff;
    color: #b3b3b3;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.04);
    overflow: hidden;
}
.card h1,
.card h2,
.card p,
.card li {
    margin: 8px 0;
}
.card--padded {
    padding: 8px 12px;
}
.card--tutorial {
    background: linear-gradient(6deg, #2b499f,#de94fc);
    color: #fff;
}
.card--add {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 96px;
    cursor: pointer;
}
.card--add i {
    font-size: 24pt;
}
.card--tutorial__button {
    cursor: pointer;
}
.button-icon {
    vertical-align: 1pt;
    font-size: 9pt;
    color: #ccc;
    cursor: pointer;
}
.button-icon:hover {
    color: #e1a24e;
}
.button-icon i {
    width: 12pt;
    text-align: center;
}
section {
    border-bottom: 1px dashed #e6e6e6;
}
section:last-of-type {
    border-bottom: none;
}
.fields {
    display: table;
    width: 100%;
    padding: 12px 12px 4px 12px;
}
.field {
    float: left;
    margin: 0 0 8px 0;
    width: 100%;
}
label {
    display: block;
    margin: 0 0 4px 0;
}
input,
select {
    outline: none;
    border: 1px dashed #e6e6e6;
    width: 100%;
    padding: 8px;
    background-color: #fff;
    font-family: ministry, sans-serif;
    font-weight: 300;
    font-size: 12pt;
    color: #333;
    border-radius: 2px;
}
input::placeholder {
    color: #b3b3b3;
}
input:hover,
select:hover {
    border: 1px dashed #b3b3b3;
}
input:focus,
select:focus {
    border: 1px solid #1597dd;
}
input:focus:hover,
select:focus:hover {
    border: 1px solid #1597dd;
}
input:disabled,
select:disabled {
    background-color: #fbfbfb;
}
input[type=checkbox] {
    display: none;
}
input[type=checkbox] + label {
    margin: 0;
    font-size: 12pt;
    color: #333;
}
input[type=checkbox] + label::before {
    margin: 0 4pt 0 0;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 400;
    color: #b3b3b3;
    content: '\f0c8';
}
input[type=checkbox]:checked + label::before {
    font-weight: 900;
    color: #1597dd;
    content: '\f14a';
}
option {
    font-weight: 300;
    transition: none;
}
button {
    outline: none;
    width: 100%;
    border: none;
    padding: 12px;
    background-color: #fff;
    font-family: ministry, sans-serif;
    font-weight: 300;
    font-size: 12pt;
    color: #333;
    cursor: pointer;
}
button.primary {
    font-weight: 400;
    color: #1597dd;
}
button span {
    float: left;
    line-height: 12pt;
}
button i {
    float: right;
    width: 12pt;
    text-align: center;
}
.flatpickr-months {
    height: 48px;
}
.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
    padding: 18px 32px;
}
.flatpickr-months .flatpickr-prev-month svg,
.flatpickr-months .flatpickr-next-month svg {
    fill: #b3b3b3;
}
.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
    fill: #1597dd;
}
.flatpickr-months .flatpickr-month {
    height: 48px;
    border-bottom: 1px dashed #e6e6e6;
}
.flatpickr-current-month {
    padding: 12px 0 0 0;
    color: #333;
}
.flatpickr-current-month span.cur-month {
    margin: 0;
    font-weight: 400;
    font-size: 12pt;
}
.flatpickr-current-month span.cur-month:hover {
    background-color: transparent;
}
.flatpickr-current-month .numInputWrapper {
    width: auto;
}
.flatpickr-current-month .numInputWrapper:hover {
    background-color: transparent;
}
.flatpickr-current-month .numInputWrapper .numInput {
    margin: 0 0 0 8px;
    width: 36pt;
    border: 1px dashed #e6e6e6;
    padding: 4px;
    font-weight: 300;
    font-size: 12pt;
    border-radius: 2px;
}
.flatpickr-current-month .numInputWrapper .numInput:hover {
    border: 1px dashed #b3b3b3;
}
.flatpickr-current-month .numInputWrapper .numInput:focus {
    border: 1px solid #1597dd;
}
.flatpickr-current-month .numInputWrapper .numInput:focus:hover {
    border: 1px solid #1597dd;
}
.flatpickr-current-month .numInputWrapper .arrowUp,
.flatpickr-current-month .numInputWrapper .arrowDown {
    display: none;
}
.flatpickr-weekdays {
    height: 36px;
}
.flatpickr-weekdays .flatpickr-weekday {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 9pt;
    color: #b3b3b3;
}
.flatpickr-day {
    border: 1px dashed transparent;
    font-weight: 400;
    font-size: 9pt;
    color: #333;
}
.flatpickr-day:hover {
    border: 1px dashed #b3b3b3;
    background-color: transparent;
}
.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay {
    border: 1px dashed transparent;
    font-weight: 300;
    color: #b3b3b3;
}
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover {
    border: 1px dashed #b3b3b3;
    background-color: transparent;
}
.flatpickr-day.today {
    border: none;
}
.flatpickr-day.selected {
    border: 1px solid #1597dd;
    background-color: transparent;
    color: #1597dd;
}
.flatpickr-day.selected:hover {
    border: 1px solid #1597dd;
    background-color: transparent;
    color: #1597dd;
}
.flatpickr-calendar.showTimeInput.hasTime .flatpickr-time {
    border-top: 1px dashed #e6e6e6;
    padding: 0 8px;
}
.flatpickr-time .numInputWrapper {
    height: auto;
}
.flatpickr-time .numInputWrapper:hover {
    background-color: transparent;
}
.flatpickr-time .numInputWrapper .numInput {
    height: auto;
    padding: 4px;
    line-height: 1em;
    font-weight: 300;
    font-size: 12pt;
    color: #333;
}
.flatpickr-time input:hover {
    background-color: transparent;
}
.flatpickr-time input:focus {
    background-color: transparent;
}
.flatpickr-time .numInputWrapper .arrowUp,
.flatpickr-time .numInputWrapper .arrowDown {
    display: none;
}
.flatpickr-time .flatpickr-time-separator {
    margin: 0 4px;
    font-weight: 300;
    font-size: 12pt;
    color: #b3b3b3;
}
.flatpickr-am-pm {
    font-weight: 400;
    font-size: 9pt;
}
#modal-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fbfbfb;
    overflow-y: scroll;
    z-index: 3;
}
aside {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 100%;
    background-color: #1071a6;
    z-index: 1;
}
aside.on {
    left: 0;
}
#menu-toggle {
    position: fixed;
    margin: 0 auto;
    right: 0;
    bottom: 16px;
    left: 0;
    width: 56px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    font-size: 12pt;
    background-color: #1597dd;
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.04);
    z-index: 2;
}
#gpa-window {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 240px;
    padding: 0 12px;
    background-color:#1597dd;
}
#gpa-window__number {
    margin: 36pt 0 0 0;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 56pt;
    color: #a1d5f1;
}
#gpa-window__number.on {
    color: #fff;
}
#gpa-window__description {
    margin: 12pt 0 0 0;
    width: 100%;
    text-align: center;
    color: #a1d5f1;
}
#app-list {
    position: absolute;
    margin: 0;
    top: 240px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 24px 0 16px 0;
    list-style: none;
}
#app-list li {
    padding: 12px 16px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12pt;
    color: #70aaca;
    cursor: pointer;
}
#app-list li:hover {
    color: #fff;
}
#app-list li.active {
    color: #fff;
}
#app-list li i {
    width: 24pt;
    text-align: center;
}
#current-app-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fbfbfb;
    overflow-y: scroll;
}
.app {
    margin: 0 auto;
    padding: 0 0 80px 0;
}
.app-dashboard__home__enrollment {
    cursor: pointer;
}
.app-dashboard__home__enrollment__basic-info {
    margin: 0 0 12px 0;
}
.app-dashboard__home__enrollment__progress {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 56px;
    height: 56px;
}
.app-dashboard__home__enrollment__progress__ring {
    position: absolute;
    top: 0;
    right: 0;
    width: 56px;
    height: 56px;
    overflow: visible;
}
.app-dashboard__home__enrollment__progress__ring__full {
    stroke: #f2f2f2;
    stroke-width: 2;
    fill: none;
}
.app-dashboard__home__enrollment__progress__ring__covered {
    stroke: #a1d5f1;
    stroke-width: 2;
    stroke-dashoffset: 43.98;
    fill: none;
}
.app-dashboard__home__enrollment__progress__ring__earned {
    stroke: #1597dd;
    stroke-width: 2;
    stroke-dashoffset: 43.98;
    fill: none;
}
.app-dashboard__home__enrollment__progress__letter {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    line-height: 56px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12pt;
    color: #1597dd;
}
.app-dashboard__home__enrollment__progress__letter sup {
    line-height: 0;
}
.app-dashboard__home__enrollment__info ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.app-dashboard__home__enrollment__info ul li span:nth-of-type(2) {
    float: right;
}
#app-dashboard__view__task-group__add {
    color: #1597dd;
    cursor: pointer;
}
.app-dashboard__view__task__complete {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 48px;
    border-right: 1px dashed #e6e6e6;
    font-size: 12pt;
    cursor: pointer;
}
.app-dashboard__view__task__complete:hover {
    border-right: 1px dashed #1597dd;
    background-color: #1597dd;
    color: #fff;
}
.app-dashboard__view__task__complete--completed {
    color: #1597dd;
}
.app-dashboard__view__task__complete--completed:hover {
    border-right: 1px dashed #e6e6e6;
    background-color: transparent;
    color: #1597dd;
}
.app-dashboard__view__task__main {
    margin: 0 0 0 48px;
    padding: 8px 12px;
}
.app-dashboard__view__task__main__score {
    position: absolute;
    top: 12px;
    right: 12px;
    bottom: 12px;
    text-align: right;
}
.app-dashboard__view__task__main__score span {
    vertical-align: middle;
    padding: 0 4pt;
    font-size: 18pt;
    color: #f2f2f2;
}
.app-dashboard__view__task__main__score input {
    vertical-align: middle;
    width: 64px;
    height: 100%;
    text-align: right;
    font-size: 18pt;
}
.app-tasks__task__complete {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 48px;
    border-right: 1px dashed #e6e6e6;
    font-size: 12pt;
    cursor: pointer;
}
.app-tasks__task__complete:hover {
    border-right: 1px dashed #1597dd;
    background-color: #1597dd;
    color: #fff;
}
.app-tasks__task__main {
    margin: 0 0 0 48px;
    padding: 8px 12px;
    cursor: pointer;
}
.app-tasks__task__main__right {
    position: absolute;
    top: 8px;
    right: 12px;
    text-align: right;
}
.app-tasks__task__countdown {
    color: #1597dd;
}
.app-tasks__task__countdown--overdue {
    color: #e1a24e;
}
.app-settings__profile__attention {
    color: #e1a24e;
    cursor: pointer;
}
@media (min-width: 547px) {
    .cards {
        margin: 64px auto 48px auto;
    }
    .cards dt {
        margin: 0 0 16px 0;
        padding: 0 24px;
    }
    .card {
        margin: 0 0 16px 0;
        border-radius: 4px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.04);
    }
    .card--padded {
        padding: 16px 24px;
    }
    .card--add i {
        font-size: 36pt;
    }
    .fields {
        padding: 24px 24px 8px 24px;
    }
    .field {
        margin: 0 0 16px 0;
    }
    label {
        margin: 0 0 8px 0;
    }
    input,
    select {
        padding: 16px;
    }
    button {
        padding: 24px;
    }
    #modal-wrapper {
        padding: 0 32px;
        background-color: rgba(0, 0, 0, 0.2);
    }
    #modal-wrapper .cards {
        max-width: 483px;
    }
    #gpa-window {
        height: 320px;
        padding: 0 24px;
    }
    #gpa-window__number {
        margin: 64pt 0 0 0;
    }
    #gpa-window__description {
        margin: 16pt 0 0 0;
    }
    #app-list {
        top: 320px;
        padding: 48px 0 32px 0;
    }
    #app-list li {
        padding: 12px 32px;
    }
    .app {
        padding: 0 32px 24px 32px;
    }
    .app-dashboard__home__enrollment__basic-info {
        margin: 0 0 18px 0;
    }
    .app-dashboard__home__enrollment__progress {
        top: 18px;
        right: 18px;
    }
    .app-dashboard__view__task {
        height: 120px;
    }
    .app-dashboard__view__task__complete {
        width: 64px;
    }
    .app-dashboard__view__task__main {
        margin: 0 0 0 64px;
        padding: 16px 24px;
    }
    .app-dashboard__view__task__main__score {
        top: 24px;
        right: 24px;
        bottom: 24px;
    }
    .app-dashboard__view__task__main__score span {
        padding: 0 8pt;
        font-size: 24pt;
    }
    .app-dashboard__view__task__main__score input {
        width: 96px;
        font-size: 24pt;
    }
    .app-tasks__task__complete {
        width: 64px;
    }
    .app-tasks__task__main {
        margin: 0 0 0 64px;
        padding: 16px 24px;
    }
    .app-tasks__task__main__right {
        top: 16px;
        right: 24px;
    }
}
@media (min-width: 867px) {
    aside {
        left: 0;
        width: 320px;
    }
    #menu-toggle {
        display: none;
    }
    #current-app-wrapper {
        left: 320px;
    }
    .app {
        padding: 0 32px 0 32px;
    }
}
@media (min-width: 1366px) {
    .card--half {
        width: calc((100% - 16px) / 2);
    }
    .card--half:nth-child(2n-1) {
        margin: 0 16px 16px 0;
    }
    .card--half:nth-child(2n) {
        margin: 0 0 16px 0;
    }
    .field--half {
        width: calc((100% - 16px) / 2);
    }
    .field--half:nth-child(2n-1) {
        margin: 0 16px 16px 0;
    }
    .field--half:nth-child(2n) {
        margin: 0 0 16px 0;
    }
    .app {
        width: 1046px;
    }
    .app-dashboard__home__enrollment--present {
        height: 248px;
    }
}
@media (pointer: fine) {
    .button-icon {
        opacity: 0;
    }
    dt:hover .button-icon,
    .card:hover .button-icon,
    .button-icon--on {
        opacity: 1;
    }
    @media (min-width: 547px) {
        .card--add {
            border: 1px dashed #e6e6e6;
            background-color: transparent;
            color: #ccc;
            box-shadow: none;
        }
        .card--add:hover {
            border: none;
            background-color: #fff;
            color: #b3b3b3;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.04);
        }
    }
}